%disFlex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#countdown.timer {
    width: 100%;
    height: 100%;
    @extend %disFlex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#countdown>div {
    overflow: hidden;
    width: 23%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    border-radius: 100%;
    color: #941205;
}
.countdown {
    &>div{
        width: 100%;
        height: 100%;
        display: block;

    }
}
#countdown_day{
    margin-left: 0;
}
#coundown_sec {
    margin-right: 0;
}
#coundown_sec span {
    animation: mymove 1s;
    -moz-animation: mymove 1s;
    -webkit-animation: mymove 1s;
    -o-animation: mymove 1s;
    -ms-animation: mymove 1s;
}

@media (max-width: 651px) {
  .countdown {
    &>div{
      background: url("../images/landing/day-bg.png") no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      font-family:Tahoma, sans-serif;
      font-size: 6vw;
      line-height: 170%;
      -webkit-background-size: 100%;
      background-size: 100%;
      &:after{
        display: block;
        font-size: 2.5vw;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 300%;
      }
    }
  }
  #countdown_day{
    &>div{
      &:after{
        content: 'NGÀY';
      }
    }
  }
  #coundown_hour {
    &>div{
      &:after{
        content: 'GIỜ';
      }
    }
  }
  #coundown_min {
    &>div{
      &:after{
        content: 'PHÚT';
      }
    }
  }
  #coundown_sec {
    &>div{
      &:after{
        content: 'GIÂY';
      }
    }
  }

}